<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=DESKTOP-MAP495M;Initial Catalog=Discord;Integrated Security=true;"/>
  </connectionStrings>
  <appSettings>
    <!--
    <add key="Database" value ="Discord"/>
    <add key="ParentTableName" value="Guilds"/>
    <add key="ChildTableName" value ="Channels"/>
    <add key="ParentSelectQuery" value="SELECT * FROM Guilds"/>
    <add key="ChildSelectQuery" value="SELECT * FROM Channels"/>
    <add key="ParentReferencedKey" value="guild_id"/>
    <add key="ChildForeignKey" value="guild_id"/>
    <add key="ParentSelectionQuery" value="SELECT * FROM Channels WHERE guild_id = {0}"/>
    -->
    <add key="Database" value ="Discord"/>
    <add key="ParentTableName" value="Members"/>
    <add key="ChildTableName" value ="Bots"/>
    <add key="ParentSelectQuery" value="SELECT * FROM Members"/>
    <add key="ChildSelectQuery" value="SELECT * FROM Bots"/>
    <add key="ParentReferencedKey" value="Member_Id"/>
    <add key="ChildForeignKey" value="Bot_Owner"/>
    <add key="ParentSelectionQuery" value="SELECT * FROM Bots WHERE Bot_Owner = {0}"/>
  </appSettings>
</configuration>